body{

background-color: #2a7b80;
}

body::before {
  		background-image: url("figuras/colormau.jpg");
  		content: "";
  		opacity: 100;
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		right: 0;
  		left: 0;
  		z-index: 0;   
		}


/*Creamos la clase 'center' de forma que podamos centrar, por ejemplo, las tablas de nuestras páginas*/

.center{

	margin-left: auto;
	margin-right: auto;
}


/*Le damos formato a los encabezados H1*/
h1, h2 {
  font-weight: bold;
  text-align: center;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #ffffff;
  
}

p, ul {

  font-family: Verdana, Helvetica, sans-serif;
  color: #000;
  font-size: 24px; 

}


/*Le damos formato a los pies de imagen*/
figcaption {

  text-align: center;
}


/*Le damos formato a las imágenes*/
img {
  
  display: block;
  width: 50px;
  height: 25px;
  width: 100%;

}

p {
  font-weight: bold;
  text-align: left;  
  font-family:"Arial", "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #000000;
  font-size:22px;
}
